# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Go
/src/main
/src/*.exe
/src/*.test
/src/vendor/
/src/bin/
/src/test_sms
/src/notification_worker.zip
/src/twilio_worker.zip
/src/write_server.zip
/src/read_server.zip
notification-worker.exe
test_sms.go
test_verify.go
write-server.exe
read-server.exe

# OS/IDE
.DS_Store
.vscode/
.idea/
*.swp
*.bak

client_secret_310556282701-v8ou06paidmvdh0v6rc7njprchnhgidu.apps.googleusercontent.com.json
*.zip
bootstrap